div.bMapsWidget {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  overflow: hidden !important;
}
.info-window-container {
  overflow: auto;
}

.imgSummary {
  width: 20%;
  height: 20%;
}

.info-window-props-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* overflow: auto; */
}

.info-window-props-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  flex-direction: column;
}

.info-window-props-child:first-child {
  margin-right: 20px;
}

.info-window-props-child-title {
}

.break {
  flex-basis: 100%;
  height: 0;
}

.alarm-text {
  color: red;
}

/* api css */

.anchorBL {
  display: none;
}
.BMap_bubble_title {
  color: black;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}
.BMap_pop div:nth-child(1) {
  border-radius: 7px 0 0 0;
}
.BMap_pop div:nth-child(3) {
  border-radius: 0 7px 0 0;
  background: #ababab;
  /*background: #ABABAB;*/
  width: 23px;
  width: 0px;
  height: 0px;
}
.BMap_pop div:nth-child(3) div {
  border-radius: 7px;
}
.BMap_pop div:nth-child(5) {
  border-radius: 0 0 0 7px;
}
.BMap_pop div:nth-child(5) div {
  border-radius: 7px;
}
.BMap_pop div:nth-child(7) {
  border-radius: 0 0 7px 0;
}
.BMap_pop div:nth-child(7) div {
  border-radius: 7px;
}

/*地图标题*/
.BMap_bubble_title {
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  border-bottom: 1px solid gray;
  /* background-color: #605ca8; */
  line-height: 10px !important;
}
/* 消息内容 */
.BMap_bubble_content {
  background-color: white;
  padding-left: 5px;
  /* padding-top: 5px; */
  top: 0px !important;
  /* padding-bottom:10px; */
  overflow: auto !important;
}
/* 内容 */
/* .BMap_pop div:nth-child(9) {
	top:35px !important;
	border-radius:7px;
} */
/* 左上角删除按键 */
.BMap_pop img {
  top: 43px !important;
  left: 215px !important;
}
.BMap_top {
  display: none;
}
.BMap_bottom {
  display: none;
}
.BMap_center {
  display: none;
}
/* 隐藏边角 */
/* .BMap_pop div:nth-child(1) div {
	display:none;
}
.BMap_pop div:nth-child(3) {
	display:none;
}
.BMap_pop div:nth-child(7) {
	display:none; */






* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: whitesmoke;
}
*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid orange;
}