@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css');

.BMap_bubble_title {
  font-weight: bold;
}

.search-list {
  z-index: 5;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #fff;
  height: 38px;
  width: 200px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
}

.search {
  box-sizing: border-box;
  border: 0;
  padding: 9px 0;
  border-left: 10px solid transparent;
  border-right: 27px solid transparent;
  line-height: 20px;
  font-size: 16px;
  height: 38px;
  width: 200px;
  color: #333;
  position: relative;
  border-radius: 2px 0 0 2px;
}
.list {
  pointer-events: auto;
  position: absolute;
  width: 200px;
  left: 0px;
  top: 40px;
  z-index: 5;
  -webkit-transition: visibility 0.5s;
  transition: visibility 0.5s;
}
.list > span {
  display: block;
  background-color: #eee;
  width: 200px;
}
.btn {
  text-align: left;
  width: 200px;
}
.btn:hover {
  background-color: rgba(27, 142, 236, 0.8);
  color: #fff;
}

.popup-image {
  width: auto;
  height: 120px;
  align-items: center;
  justify-content: left;
  overflow: hidden;
}
.popup-image > img {
  width: auto;
  height: 120px;
}
.popup-description {
  color: #707070;
  width: 200px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.popup-alarm-count {
  text-align: right;
  padding-right: 10px;
}
.has-alarm {
  color: #EE3124;
}
table.table th {
  background-color: #606060;
  color: #FFFFFF;
  font-weight: normal;
}
table.table td {
  border: 0px;
}