<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html, #container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: Arial, Helvetica, "Microsoft YaHei", sans-serif;
        }
    </style>
    <title>地图展示</title>
</head>
<body>
    
<div id="container"></div>
<div id="search-list" class="search-list">
    {{!-- <div id="clear-button" class="btn">clear</div> --}}

    <div class="row no-gutters">
        {{!-- <input type="search" class="search form-control py-2 border-right-0 border" id="search-input" placeholder="Search..." autocomplete="off"/> --}}

        <div class="col">
            <input class="form-control border-secondary border-right-0 rounded-0" type="text" placeholder="search" id="search-input" autocomplete="off">
        </div>
        <div class="col-auto" id="clear-button">
            <div class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="button">
                <i class="fa fa-close"></i>
            </div>
        </div>
    </div>


    <div class="list" style="display: none;" ></div>
</div>
<div id="search-item-template" style="display:none;">
  <!-- A template element is needed when list is empty, TODO: needs a better solution -->
  <span id="search-item">
  <h3 class="title btn"></h3>
  </span>
</div>
</body>
</html>