<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html, #container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: Arial, Helvetica, "Microsoft YaHei", sans-serif;
        }
    </style>
    <title>地图展示</title>
</head>
<body>
    
<div id="container"></div>
<div id="search-list" class="search-list">
    <div id="clear-button" class="btn">clear</div>
    <input type="text" class="search" id="search-input" placeholder="Search..." autocomplete="off"/>
    <div class="list" style="display: none;" ></div>
</div>
<div id="search-item-template" style="display:none;">
  <!-- A template element is needed when list is empty, TODO: needs a better solution -->
  <span id="search-item">
  <h3 class="title btn"></h3>
  </span>
</div>
</body>
</html>